*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container{
    max-width: 1300px;
    padding: 20px 30px;
    margin: auto;

    @media (min-width: $tablet){
        padding: 30px;
    }
    &--section{
        padding: 80px 30px;
    }

    &--contact-bar{
        padding: 10px 30px;
    }

}

a{
    display: block;
    text-decoration: none;
}

p{
    font-size: 18px;
    margin-bottom: 10px;
    &:last-of-type{
        margin-bottom: 0;
    }
}

.orange{
    color: $secondary;
}

.green{
    color: $primary;
}
