.header{
    background-color: white;
    &-upper{
        display: flex;
        justify-content: space-between;
    }

    &-contact{
        display: flex;
        align-items: center;
        &__icon{
            font-size: 15px;
            color: white;
            text-decoration: none;
            &-container{
                height: 35px;
                width: 35px;
                background-color: $primary--pale;
                display: block;
                border-radius: 20px;
                margin-right: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                transition: 250ms;

                &:hover{
                    background-color: darken($primary--pale, 10%);
                }

            }
        }
    }
}

.branding{
    display: flex;
    align-items: center;
    &-text{
        font-size: var(--large-text);
        color: $primary;
    }
    &-logo{
        font-size: var(--large-text);
        color: $primary;
        display: block;
        margin-left: 20px;
    }
}

.nav{
    background: linear-gradient(to bottom right, $primary--pale, darken($primary--pale, 10%));
    &-content{
        padding-top: 0;
        padding-bottom: 0;
    }
    &-item{
        padding: 15px 30px;
        display: inline-block;
        color: white;
        text-decoration: none;

        &:hover{
            background-color: $primary;
        }
        
    }
}