.intro{
    &-header{
        color: $primary;
        font-size: 50px;
    }
    &-welcome{
        margin: var(--spacing--lrg) 0;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr auto;
        grid-column-gap: var(--spacing--lrg);
        grid-template-areas:
            "text image"
            "footer image";

        &__text{
            grid-area: text;
            font-size: var(--sub-text);
            color: $primary--dark;
            font-weight: 500;
        }
        &__image{
            grid-area: image;
            border-radius: 300px;
            height: auto;
            width: 350px;
        }
        &__footer{
            grid-area: footer;
            font-size: var(--med-text);
            font-weight: 500;
            color: $secondary;
        }
    }

    &-about{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;

        &__entry{
            text-align: center;
        }

        &__header{
            font-size: var(--sub-text);
            color: $primary--dark;
            margin-bottom: 15px;
        }

        &__text{
            font-size: var(--std-text);
            margin-bottom: 25px;
        }

        &__button{
            margin: auto;
        }
    }
}