<header class="header">
    <div class="header-upper container">
        <div class="branding">
            <span class="branding-text">{{ site.name }}</span><i class="branding-logo fas fa-dumbbell"></i>
        </div>
        <div class="header-contact">
            <a herf = "#" class="header-contact__icon-container">
                
            </a>
            <a herf = "#" class="header-contact__icon-container">

            </a>
            <a herf = "#" class="header-contact__icon-container">

            </a>
            <a href = "#" class="cta cta--primary header-contact__cta">

            </a>
        </div>
    </div>
    <nav class="nav container">
        <div class="nav__item">

        </div>
    </nav>
</header>