@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Nunito', sans-serif;
}

.container{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    &--section{
        padding: var(--spacing--lrg) var(--spacing--std);
    }
}

.orange{
    color: $secondary;
}