.about{
    background: linear-gradient(to bottom right, $blue, darken($blue,10%));
    text-align: center;
    position: relative;
    &__img{
        height: 300px;

        &--therapy{
            background: linear-gradient(rgba($blue, 0.2), rgba($blue, 0.2)), center / cover
                url("assets/img/therapy.jpg");
        }
        &--pt{
            background: linear-gradient(rgba($blue, 0.2), rgba($blue, 0.2)), center / cover
                url("assets/img/training.jpg");
        }
        &--nutrition{
            background: linear-gradient(rgba($blue, 0.2), rgba($blue, 0.2)), center / cover
                url("assets/img/nutrition.jpg");
        }

        @media (min-width: $large-phone){
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }
    }

    &__heading{
        font-size: 35px;
        margin-bottom: 40px;
        color: $white;
        position: relative;
        &--g{
            color: $primary;
            &::after{
                background-color: $primary;
            }
        }
        &--o{
            color: $secondary;
            &::after{
                background-color: $secondary;
            }
        }

        

        @media (min-width: $tablet){
            margin-bottom: 10px;
            font-size: 50px;
        }

        &::after{
            position: absolute;
            content: "";
            height: 4px;
            width: 100px;
            bottom: -20px;
            left: 0;
            left: 50%;
            transform: translateX(-50%);

            @media (min-width: $tablet){
                content: initial;
            }
        }
    }

    &__paragraph{
        font-size: 18px;
        color: rgba($white, 0.84);
        margin-bottom: 40px;
        position: relative;
        z-index: 5;
    }

    &__button{

    }

    &__text{

        margin-top: -30px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        

        @media (min-width: $large-phone){
            background-color: rgba($blue, 0.8);
            padding: 50px;
            margin-top: 0;
            position: relative;
        }

        @media (min-width: $tablet){
            &--l{
                margin-right: auto;
                text-align: left;
                align-items: flex-start;
            }
            &--r{
                margin-left: auto;
                text-align: right;
                align-items: flex-end;

            }
            width: 700px;
        }
    }
}

.hello{
    background-color: $primary;

    &__content{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__svg{
        height: 250px;
    }
    &__title{
        &-above{
            color: $primary--dark !important;
        }
    }

    &__subtitle{
        color: $blue !important;
    }

    &__header{
        background-color: $secondary;
        padding: 15px;
        text-align: center;
        color: $white;
    }

    &__link{
        display: inline;
        color: $blue;
        font-weight: 600;
    }
}
