.header{
    color: $white;
    position: absolute;
    width: 100%;
    z-index: 11;

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
}

.nav{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;

    @media (min-width: $tablet){
        opacity: 1;
        position: static;
        transform: initial;
        display: flex;
        width: auto;
        align-items: center;
    }
    &__item{
        color: white;
        font-weight: 600;
        font-size: 16px;
        transition: color 250ms;
        
        &:hover{
            color: $secondary;
        }

        @media (min-width: $tablet){
            margin-right: 80px;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }

    &__hamburger{
        font-size: 40px;
        color: $white;
        cursor: pointer;
        @media (min-width: $tablet){
            opacity: 0;
        }
    }
}

.branding{
    font-size: 45px;
    font-weight: bold;
    color: $primary;
    transition: 1000ms;

    &__icon{
        color: $white;
    }

    &--small{
        font-size: 30px;
    }
}

.contact-bar{
    background-color: darken($blue,10%);
    border-bottom: 1px solid $secondary;
    display: none;

    @media (min-width: $tablet){
        display: block;
    }
    &__content{
        display: flex;
    }

    &__entry{
        font-size: 14px;
        color: $white;
        margin-right: 30px;
        transition: 250ms;
        &:last-of-type{
            margin-right: 0;
        }

        &:hover{
            color: $secondary;
        }
    }

    &__instagram{
        margin-left: auto;
    }

    &__icon{
        color: $secondary;
        margin-right: 5px;
    }
}