---
layout: default
---

<section class="hero">
  <div class="container container--section hero-content">
    <h1 class="hero-lead">{{ page.lead }}</h1>
    <span class="hero-sublead">{{ page.sublead }}</span>
    <div class="hero-button__container">
      <a href="mailto:efitnessntherapy@gmail.com" class="cta cta--primary hero-button">BOOK NOW</a>
      <a href="#testimonials" class="cta cta--secondary hero-button">REVIEWS</a>
    </div>
  </div>
</section>

<section class="subhero">
  <div class="subhero-content container">
    <div class="subhero-content__message">
      <span class="subhero-preheader"
        >Do you suffer from aches and strains?</span
      >
      <h2 class="section-header subhero-header">
        Sports therapy treatment can help.
      </h2>
      <span class="subhero-text"
        >For treatment of sport injuries, ligament sprains, joint pain, muscle
        strains, back pain and neck pain. If any of these conditions apply to
        you, don't hesitate to get in touch!
    </div>
    <img
      src="{{ site.url }}{{ site.imageUrl }}/stretching.svg"
      alt=""
      class="subhero-content__image"
    />
  </div>
</section>

<section class="intro" id="about">
  <div class="container container--section intro-content">
    <h2 class="section-header intro-header">Welcome to efitnessntherapy!</h2>
    <div class="intro-welcome">
      <p class="intro-welcome__text">
        Hi, my name's Ellayne. As a sport remedial therapist I see myself as a
        movement expert. I assist with optimising quality of life through
        prescribed exercise, pain management, hands-on-care, and client
        education. Take a look yourself at some of the many benefits of physical
        therapy.
      </p>
      <img
        src="{{ site.url }}{{ site.imageUrl }}/ellaine.jpg"
        alt=""
        class="intro-welcome__image"
      />
      <p class="intro-welcome__footer">
        I do not diagnose but I will refer should I see the need to. As a part
        of my services, I create personalised treatment plans that help clients
        improve mobility, manage chronic conditions, recover from injury, and
        prevent future injury and chronic disease.
      </p>
    </div>

    <div class="hr hr--green"></div>

    <div>
        <h3 class="section-subheader intro-about__header">About Me</h3>
        <p class="intro-about__text">
          A soft tissue therapist, Fitness coach and health and wellness advisor who loves to motivate and inspire.</p>

          <p class="intro-about__text">If there is any way that I can assist with the promotion of healing and rehabilitation from injury aches pains and sprains in a holistic way, I will.  Whether it be a destressing therapeutic massage within the workplace or a sport therapy session for those who are sporty or lead an active lifestyle,  I will give advice and exercise guidance for the prevention of injury whilst assisting you back to optimal levels of functionality.</p>

          <p class="intro-about__text">As a Health and Wellness advisor I provide an advisory service to educate, reassure and assist people in overcoming challenges in their lives relating to fitness as well as empower women about how to look after their health and wellbeing through the menopausal and transition years.</p>

          <p class="intro-about__text">I will offer you guidance on the correct exercise and nutrition in order to help you cope with symptoms and lead a functional and happy life
Take a look at my website and testimonials and feel free to contact me.
        </p>
      </div>
  </div>
</section>

<section class="quote">
  <div class="container container--section">
    <div class="quote__content">
      "To keep the body in good health is a duty… otherwise we shall not be able
      to keep our mind strong and clear."
      <span class="quote__author">- Buddha</span>
    </div>
  </div>
</section>

<section class="therapy" id="benefits">
  <div class="container container--section therapy-content">
    <h2 class="section-header therapy-header">
      How can sports therapy treatment help you?
    </h2>
    <div class="therapy-grid">
      {% for benefit in site.data.benefits %}
      <div class="therapy-entry">
        <div class="therapy-entry__icon-container">
          <i class="therapy-entry__icon {{ benefit.icon }}"></i>
        </div>
        <div class="therapy-entry__content">
          <h3 class="section-subheader therapy-entry__header">
            {{ benefit.title }}
          </h3>
          <p class="therapy-entry__text">
            {{ benefit.text }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="testimonials" id="testimonials">
  <div class="container container--section testimonials-content">
    <h2 class="section-header testimonials-header">
      What my patients say
    </h2>
    <div class="testimonial-container">
      <div class="testimonial-array" style="transform: translateX(0)">
        {% for testimonial in site.testimonials limit: 5 %}
        <div class="testimonial-entry">
          <div class="section-subheader testimonial-author">
            {{ testimonial.name }}
          </div>
          <blockquote class="testimonial-content">
            {{ testimonial.content }}
          </blockquote>
        </div>
        {% endfor %}
      </div>
    </div>
    <i class="testimonial-nav testimonial-nav--right fas fa-chevron-right"></i>
    <i class="testimonial-nav testimonial-nav--left fas fa-chevron-left"></i>
    <div class="testimonials-bubbles"></div>
  </div>
</section>
